input {
  box-sizing: border-box;
  place-content: center;
  padding: 0.5rem;
  border-style: none;
  border-bottom: 1px solid hsl(0, 12%, 92%);
  margin: 5rem 0.5rem 0.5rem 0.5rem;
}
::placeholder {
  color: #474141;
  font-family: "Raleway", sans-serif;
}
